apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: 440744220626.dkr.ecr.ap-northeast-2.amazonaws.com/test
  newName: 440744220626.dkr.ecr.ap-northeast-2.amazonaws.com/test
  newTag: "33833469"
resources:
- ../../base
patchesStrategicMerge:
- deployment-patch.yaml
- service-patch.yaml
