apiVersion: v1
kind: Service
metadata:
  name: nginx-test
  namespace: test
  annotations:
    alb.ingress.kubernetes.io/healthcheck-path: "/"
spec:
  type: ClusterIP
  selector:
    app: nginx-test
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP

